---
import Layout from '../../layouts/Layout.astro';

// TODO remove when SSR
export function getStaticPaths() {
  return [
    {params: {name: 'pingo'}},
    {params: {name: 'preta'}},
    {params: {name: 'claraluz' }},
    {params: {name: 'vemca' }},
    {params: {name: 'vitoria_regia' }},
    {params: {name: 'blau' }},
    {params: {name: 'miojo' }},
    {params: {name: 'norman' }},
    {params: {name: 'felipe' }},
    {params: {name: 'rian' }},
  ]
}

const { name } = Astro.params;
---
<Layout title="Adote">
    <div class="p-section">
        <span class="text-4xl bold font-body font-bold" transition:name={name}>{name}</span>
    </div>
</Layout>
