---
import { getAllCats } from "../api/cats";
import PageSection from "../components/layout/PageSection.astro";
import { ListWithFilters } from "../components/pages/Cats/ListWithFilters.solid";
import Layout from "../layouts/Layout.astro";

// doesn't work
// const isApadrinhar = Astro.url.searchParams.get('modo')  === 'apadrinhar';

const allCats = await getAllCats();
---

<Layout title="Adote">
  <PageSection class="pt-4 sm:pt-8">
    <div
      class="prose border-2 border-black w-full max-w-5xl m-auto p-4 rounded-xl bg-pink"
    >
      <h2 class="inline font-body">Adotar</h2>
      <p class="inline">
        um gatinho é um ato de amor e responsabilidade. Para cada adoção,
        realizamos um processo seletivo para garantir que o ambiente e as
        condições do novo lar são adequados para o bem-estar do gato. Este
        processo inclui um formulário, entrevista, e em alguns casos, uma visita
        domiciliar.
      </p>
      <p>
        Antes de escolher seu gatinho, veja <a
          class="font-body font-bold"
          href="/faq#adotar">o que preciso saber antes de adotar</a
        >.
      </p>
    </div>
    <ListWithFilters cats={allCats} client:only="solid-js" />
  </PageSection>
</Layout>
