---
import { Image } from "astro:assets";
import { twMerge } from "tailwind-merge";
import { TinaMarkdown } from "tinacms/dist/rich-text";
import { getAllHowToHelp } from "../api/howToHelp";
import PageSection from "../components/layout/PageSection.astro";
import Layout from "../layouts/Layout.astro";

const items = await getAllHowToHelp();
---

<Layout title="Ajude" og={{ description: "Saiba como nos ajudar" }}>
  <PageSection
    class="prose prose-headings:font-normal prose-headings:text-center prose-a:font-body prose-a:font-bold prose-figcaption:text-center prose-figcaption:text-sm prose-p:text-pretty prose-xl m-auto overflow-visible"
  >
    <h1>Como ajudar</h1>
    <p>
      Dependemos do auxílio da comunidade para manter o Salve e garantir abrigo
      aos gatinhos em necessidade. A melhor forma de ajudar é por meio da
      adoção, escolhendo o seu gatinho e preenchendo o formulário — <a
        href="/adotar">veja os gatinhos disponíveis</a
      >. Caso essa não for uma opção no momento, abaixo estão algumas
      possibilidades que também ajudarão muito em nossa operação.
    </p>
    <ol class="w-full flex flex-col gap-10">
      {
        items.map(({ title, content, image, noBorderImage }) => (
          <div class="flex gap-4 lg:gap-20 items-center flex-col group lg:odd:flex-row-reverse lg:even:flex-row">
            {image ? (
              <div class="h-80 w-full min-w-96 overflow-hidden flex items-center justify-center lg:group-odd:-mr-44 lg:group-even:-ml-44">
                <Image
                  src={image}
                  alt={title}
                  width={400}
                  height={400}
                  class={twMerge(
                    "h-auto w-auto max-w-full max-h-full m-auto",
                    !noBorderImage && "rounded-xl border-black border-2"
                  )}
                />
              </div>
            ) : (
              ""
            )}
            <li class="w-full text-wrap lg:max-w-[50vw]">
              <h3
                class="text-left! mt-0!"
                id={title?.toLowerCase().replaceAll(" ", "-")}
              >
                {title}
              </h3>
              <TinaMarkdown content={content} />
            </li>
          </div>
        ))
      }
    </ol>
  </PageSection>
</Layout>
