---
import { Image } from "astro:assets";
import PageSection from "../components/PageSection.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Ajude" og={{ description: "Saiba como nos ajudar" }}>
  <PageSection
    class="prose prose-headings:font-normal prose-headings:text-center prose-a:font-body prose-a:font-bold prose-figcaption:text-center prose-figcaption:text-sm prose-p:text-pretty prose-xl m-auto"
  >
    <h2 class="text-center text-2xl">Em breve</h2>
  </PageSection>
</Layout>
