---
import { getAllCats } from "../api/cats";
import { ListWithFilters } from "../components/pages/Cats/ListWithFilters";
import PageSection from "../components/PageSection.astro";
import Layout from "../layouts/Layout.astro";

const allCats = await getAllCats();
---
<Layout title="Gatos">
    <PageSection class="pt-4 sm:pt-8">
        <div class="prose border-2 border-black w-full max-w-5xl m-auto p-4 rounded-xl bg-yellow-100">
            <h2 class="inline font-body">Apadrinhar</h2> 
            <p class="inline">
                um gatinho é uma maneira maravilhosa de contribuir para o bem-estar dos nossos felinos sem a necessidade de adotar. Ao se tornar um padrinho ou madrinha, você ajuda a cobrir os custos de vacinas, medicamentos e outros cuidados necessários para um gatinho à sua escolha.
            </p>
            <p>
                Antes de escolher seu apadrinhado, veja <a class="font-body font-bold" href="/faq#apadrinhar">o que preciso saber antes de apadrinhar</a>.
            </p>
        </div>
        <ListWithFilters cats={allCats} />
    </PageSection>
</Layout>