---
import { getAllCats } from "../api/cats";
import { CatCard } from "../components/CatCard";
import PageSection from "../components/PageSection.astro";
import Layout from "../layouts/Layout.astro";

const allCats = await getAllCats();
---

<Layout title="Gatos">
    <PageSection>
        <div class="grid gap-8 grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 2xl:grid-cols-4">
            {allCats?.map(cat => (
                <CatCard transition:animate="slide" cat={cat} />
            ))}
        </div>
    </PageSection>
</Layout>