---
import client from "../../tina/__generated__/client";
import type { Cat } from "../../tina/__generated__/types";
import { CatCard } from "../components/CatCard";
import PageSection from "../components/PageSection.astro";
import Layout from "../layouts/Layout.astro";

const catsResponse = await client.queries.catConnection();

const cats = catsResponse.data.catConnection.edges?.map((catResponse) => ({
  ...catResponse?.node as Cat
}));
---
<Layout title="Gatos">
    <PageSection>
        <div class="grid gap-8 grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 2xl:grid-cols-4">
            {cats?.map(cat => (
                <CatCard transition:animate="slide" cat={cat} />
            ))}
        </div>
    </PageSection>
</Layout>