---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout>
	<div class="p-8 bg-blue-200 m-4 flex justify-between rounded-lg">
		<div></div>
		<div class="flex gap-2">
			<a href="/sobre">Sobre</a>
			<a href="/adote">Adote</a>
		</div>
	</div>
	<main>
		<h1>Salve</h1>
	</main>
</Layout>