---
import Actions from "../components/pages/Home/Actions.astro";
import Emergency from "../components/pages/Home/Emergency.astro";
import Hero from "../components/pages/Home/Hero.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<Hero />
	<Actions />
	<h2 class="text-5xl w-100 text-center my-20">O Salve um Gatinho atua em Santa Cruz do Sul, RS</h2>
	<Emergency />
</Layout>