---
import PageSection from "../components/PageSection.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Sobre">
	<PageSection class='prose prose-headings:font-normal prose-a:font-body prose-a:font-bold prose-xl m-auto'>
        <h2>Quem somos</h2>
        <p>
            Criado em 2015 com o objetivo de salvar a vida dos gatos que viviam nas ruas em situação de vulnerabilidade, o Salve Um Gatinho se formou com a união de pessoas que não se conforma em ver esses animais sofrendo todo o tipo de privação e violência. Seres frágeis e amorosos, que merecem viver com dignidade, proteção e amor! 
        </p>
        <dl>
            <dt class="flex gap-2 items-center">
                <span>O que fazemos</span>
                <span class="text-pink text-shadow-pink text-5xl font-display leading-none -rotate-3">
                    ?
                </span>
            </dt>
            <dd>
                Resgatamos, acolhemos, encaminhamos para veterinário, tratamos, castramos, socializamos e encaminhamos para adoção responsável, mudando assim a vida de milhares de gatos que teriam um destino incerto e infeliz.
            </dd>
            <dt class="flex gap-2 items-center">
                <span>Como fazemos</span>
                <span class="text-blue text-shadow-blue text-5xl font-display leading-none rotate-3">
                    !
                </span>
            </dt> 
            <dd>
                Com a ajuda da comunidade, que é essencial nesse processo! Qualquer pessoa pode ajudar a salvar um gatinho, seja com doações, pedido de ajuda, apadrinhamento, compra de produtos ou adotando um gatinho.
            </dd>
        </dl>
        <p>Seja também um elo dessa corrente de amor aos gatos! <a href="/adotar">Salve um Gatinho</a>🐱</p>
        <h3 transition:name="o-que-saber-antes-de-adotar" id="o-que-saber-antes-de-adotar" class="scroll-m-44">
            O que você precisa saber antes de adotar um gatinho
        </h3>
        <ol>
            <li>
                Os gatos são curiosos por natureza e gostam de investigar novos ambientes, mas se tiverem acesso livre à rua, estarão sujeitos a vários perigos, como atropelamento, envenenamento, doenças, ataque de cães ou de pessoas. Então, segurança é fundamental! <strong>Mantenha seu gatinho nos domínios de sua propriedade</strong>;
            </li>
            <li>
                Gatos podem viver muitos anos, alguns ultrapassam os vinte anos de idade, por isso deve estar preparado para manter as necessidades de seu amigo peludo por um <strong>período longo</strong>;
            </li>
            <li>
                Muitas coisas podem acontecer sem que estejamos esperando: perder o emprego, engravidar, mudar de endereço e até mesmo conhecer alguém que não curta gatos. Nada disso justifica se desfazer do seu companheiro felino, <strong>tenha um plano</strong> para incluir seu gatinho em uma nova realidade;
            </li>
            <li>
                Assim como as pessoas, os animais também adoecem e <strong>podem precisar atendimento veterinário</strong>. Se pergunte se você terá condições de custear essas despesas;
            </li>
            <li>
                <strong>Alimentação de qualidade é fundamental</strong> para a saúde de seu gatinho, além de prevenir doenças, a ração adequada à idade e condição do seu gato irá trazer bem estar e saúde. Alimentação natural é permitida, desde que recomendada por um nutrólogo especializado em animais. 
            </li>
            <li>
                Ter um gato exige tempo de sua parte: precisa <strong>dar atenção e brincar</strong> com ele, para que ele não se sinta entediado e estressado;
            </li>
            <li>
                Não se esqueça também que caso precise viajar e não puder levar seu gatinho junto, terá que <strong>providenciar uma hospedagem</strong> ou <strong>alguém para cuidar dele</strong> enquanto estiver fora.
            </li>
        </ol>
            <p>
            Refletindo sobre essas questões, e se sentindo preparado, é hora de dar o próximo passo: <a href="/adotar">adotar seu gatinho</a>!
        </p>
    </PageSection>
</Layout>