---
import Link from './Link.astro';
---
<div class="p-8 bg-blue m-4 flex items-start justify-between rounded-xl h-footer border-black border-4" transition:name="footer">
    <div></div>
    <div class="flex gap-8">
        <Link href='/sobre'>Sobre</Link>
        <Link href='/adote'>Adote</Link>
    </div>
</div>