---

---
<div class="p-8 bg-blue-200 m-4 flex items-center justify-between rounded-xl h-header border-black border-4" transition:name="header">
    <div>
        <a href="/" class="text-4xl">Home</a>
    </div>
    <div class="flex gap-4">
        <a href="/sobre" class="text-4xl">Sobre</a>
        <a href="/adote" class="text-4xl">Adote</a>
    </div>
</div>