---

---
<div class="p-8 bg-blue-200 m-4 flex justify-between rounded-xl h-header">
    <div></div>
    <div class="flex gap-2">
        <a href="/sobre">Sobre</a>
        <a href="/adote">Adote</a>
    </div>
</div>