---
import Link from './Link.astro';
---
<div class="p-8 bg-blue m-4 flex items-center justify-between rounded-xl h-header border-black border-2" transition:name="header">
    <div>
        <Link href='/'>Home</Link>
    </div>
    <div class="flex gap-8">
        <Link href='/sobre'>Sobre</Link>
        <Link href='/gatos'>Adote</Link>
    </div>
</div>