---
import { twMerge } from 'tailwind-merge';

type Props = { href?: string, children?: any, class?: string };

const { href } = Astro.props;

const isActive = Astro.url.pathname === href;
---
<a href={href} class={twMerge("text-4xl relative after:transition-all after:h-1 after:bg-black after:absolute after:-bottom-1 after:left-0 after:max-w-0 hover:after:max-w-32 after:w-full", isActive && 'after:max-w-32', Astro.props.class)}>
    <slot/>
</a>