---
import { Button } from "../../Button";
import PageSection from "../../PageSection.astro";

const actions = [
	{
		image: "",
		label: "Adote",
		href: "/gatos",
	},
	{
		image: "",
		label: "Apadrinhe",
		href: "/apadrinhe",
	},
	{
		image: "",
		label: "Ajude",
		href: "/ajude",
	},
];
---
<PageSection class={Astro.props.class}>
    <div class="flex flex-col w-full lg:flex-row gap-8 items-center justify-center mb-2">
        {actions.map(action => (
            <a href={action.href} class="flex flex-col gap-4 w-full flex-1 items-center group max-w-96">
                <div id="card" class="h-96 w-full border-2 border-black rounded-xl">
					<div class="size-full bg-gray-200 rounded-xl"/>
                </div>
                <Button variant="nav" class="group-hover:-rotate-1">
                    {action.label}
                </Button>
            </a>)
        )}
    </div>
</PageSection>