---
import { ButtonLink } from "../../Button";
import PageSection from "../../PageSection.astro";

type Props = {};

const {} = Astro.props;
---
<PageSection>
    <div class="flex flex-col gap-8 items-center">
        <h1 class="text-7xl sm:text-8xl text-center max-w-4xl text-shadow-pink">Salve-se com um gatinho</h1>
        <ButtonLink href="/adotar" variant={"cta"}>Adote</ButtonLink>
    </div>
</PageSection>