---
import { ButtonLink } from "../../Button";

type Props = {};

const {} = Astro.props;
---
<section class="p-section">
    <div class="flex flex-col gap-8 items-center">
        <h1 class="text-8xl max-w-4xl">Salve-se com um gatinho</h1>
        <ButtonLink href="/adote" variant={"cta"}>Adote</ButtonLink>
    </div>
</section>