---
import { Button, ButtonLink } from "../../Button";
import { CatCard } from "../../CatCard";

type Props = {};

const {} = Astro.props;
---
<section class="p-section">
    <div class="flex flex-col gap-12 items-start">
        <div class="flex gap-8 flex-nowrap -mr-20">
            <CatCard variant="vertical" cat={{ name: 'Vemcá'}} />
            <CatCard variant="vertical" cat={{ name: 'Blau'}} />
            <CatCard variant="vertical" cat={{ name: 'Vitória Régia'}} />
            <CatCard variant="vertical" cat={{ name: 'Claraluz'}} />
            <CatCard variant="vertical" cat={{ name: 'Claraluz'}} />
            <CatCard variant="vertical" cat={{ name: 'Claraluz'}} />
        </div>
        <div class="flex justify-between md:justify-center w-full">
            <ButtonLink href="/sobre" variant="nav">Ver mais</ButtonLink>
            <Button variant="nav" class="md:absolute md:right-10"></Button>
        </div>
    </div>
</section>