---
import PageSection from "../../PageSection.astro";
import Paw from "../../patterns/Paw.astro";
import Triangle from "../../patterns/Triangle.astro";
import Circle from "../../patterns/Circle.astro";
import { CountNumber } from "../../CountNumber";

// TODO pull from database
const data = {
  helped: 890,
  adopted: 540,
  prepared: 56,
  available: 34,
};
---

<PageSection class="sm:py-48">
  <div
    class="relative grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 max-w-5xl m-auto gap-8 text-center w-full"
  >
    <Paw
      class="-z-10 left-0 sm:left-24 md:left-0 lg:-left-14 -top-20 -rotate-12"
    />
    <Triangle
      class="-z-10 hidden md:block left-1/2 -translate-x-1/2 top-14 rotate-12"
    />
    <Circle
      class="-z-10 right-0 sm:right-24 md:right-0 lg:-right-8 -bottom-20 lg:-top-16 -rotate-12"
    />
    <div
      class="flex flex-col gap-4 intersect:motion-preset-slide-up intersect-once motion-delay-100"
    >
      <h6 id="helped" class="text-7xl text-shadow-pink">
        <CountNumber client:only="solid-js" value={data.helped} id="helped" />
      </h6>
      <div class="flex flex-col">
        <span>gatos beneficiados</span>
        <span class="text-lg">*resgatados ou apoiados</span>
      </div>
    </div>
    <div
      class="flex flex-col gap-4 intersect:motion-preset-slide-up intersect-once motion-delay-300"
    >
      <h6 id="adopted" class="text-7xl text-shadow-blue">
        <CountNumber client:only="solid-js" value={data.adopted} id="adopted" />
      </h6>
      <span>gatos adotados</span>
    </div>
    <div
      class="flex flex-col gap-4 intersect:motion-preset-slide-up intersect-once motion-delay-500"
    >
      <h6 id="prepared" class="text-7xl text-shadow-yellow">
        <CountNumber
          client:only="solid-js"
          value={data.prepared}
          id="prepared"
        />
      </h6>
      <span>gatos em tratamento ou socialização</span>
    </div>
    <div
      class="flex flex-col gap-4 intersect:motion-preset-slide-up intersect-once motion-delay-700"
    >
      <h6 id="available" class="text-7xl text-shadow-pink">
        <CountNumber
          client:only="solid-js"
          value={data.available}
          id="available"
        />
      </h6>
      <span>gatos disponíveis para adoção</span>
    </div>
  </div>
</PageSection>
