---
import { Highlight } from "../../Highlight";
import PageSection from "../../PageSection.astro";
import Paws from "../../../assets/Outras/background/paws.svg";
import { Image } from "astro:assets";
---

<PageSection class={Astro.props.class}>
  <div
    class="relative flex flex-col gap-10 max-w-5xl w-full bg-pink-100 border-2 border-black rounded-xl p-8 md:p-20 text-center items-center z-10 overflow-hidden intersect:motion-preset-slide-up intersect-once"
  >
    <Image
      src={Paws}
      alt=""
      aria-hidden
      class="hidden md:block absolute -right-12 top-0 h-full -z-10"
    />
    <h2 class="text-2xl md:text-4xl font-body text-balance">
      Para atendimentos de emergencia de animais feridos <Highlight
        class="font-bold">sem tutores</Highlight
      >, ligue
    </h2>
    <div class="flex flex-col lg:flex-row gap-8 items-center lg:items-start">
      <div class="flex flex-col gap-1 flex-1">
        <h3 class="text-5xl sm:text-7xl sm:text-nowrap">92001-3395</h3>
        <p>Canil Municipal em horário comercial</p>
      </div>
      <div class="flex flex-col gap-1 flex-1">
        <h3 class="text-5xl sm:text-7xl">153</h3>
        <p>Guarda Municipal 24h</p>
      </div>
    </div>
    <span>
      ou 
      <a
      href="/faq#denuncio"
      class="font-body font-bold underline"
      >
      veja como denunciar maus-tratos
    </a>
  </span>
  </div>
</PageSection>
