---
type Props = {};

const {} = Astro.props;
---
<section class="p-section">
    <div class="flex flex-col gap-10 w-full bg-pink-100 border-4 border-black rounded-xl p-20 text-center items-center">
        <!-- TODO add paws in background -->
        <h2 class="text-4xl font-body">Para atendimentos de emergencia, ligue</h2>
        <div class="flex flex-col lg:flex-row gap-8 items-center lg:items-start">
            <div class="flex flex-col gap-1 flex-1">
                <!-- TODO add white and colored shadow to text -->
                <h3 class="text-7xl text-nowrap">3719-1170</h3>
                <p>Canil Municipal em horário comercial</p>
            </div>
            <div class="flex flex-col gap-1 flex-1">
                <!-- TODO add white and colored shadow to text -->
                <h3 class="text-7xl">153</h3>
                <p>Guarda Municipal 24h</p>
            </div>
        </div>
    </div>
</section>