---
import PageSection from '../../PageSection.astro';
---
<PageSection class={Astro.props.class}>
    <div class="relative flex flex-col gap-10 max-w-5xl w-full bg-pink-100 border-2 border-black rounded-xl p-20 text-center items-center z-10">
        <!-- FIXME add paws in background -->
        <h2 class="text-4xl font-body">Para atendimentos de emergencia, ligue</h2>
        <div class="flex flex-col lg:flex-row gap-8 items-center lg:items-start">
            <div class="flex flex-col gap-1 flex-1">
                <!-- FIXME add white and colored shadow to text -->
                <h3 class="text-7xl text-nowrap">3719-1170</h3>
                <p>Canil Municipal em horário comercial</p>
            </div>
            <div class="flex flex-col gap-1 flex-1">
                <!-- FIXME add white and colored shadow to text -->
                <h3 class="text-7xl">153</h3>
                <p>Guarda Municipal 24h</p>
            </div>
        </div>
    </div>
</PageSection>