---
import { Image } from "astro:assets";
import { twMerge } from "tailwind-merge";
import { getNewCats } from "../../../api/cats";
import HeroImage from "../../../assets/Outras/hero.jpeg";
import HeroCutImage from "../../../assets/Outras/hero_cut.png";
import PageSection from "../../layout/PageSection.astro";
import { CatCard } from "../../pages/Cat/CatCard.solid";
import { ButtonLink } from "../../ui/Button.solid";

const newCats = await getNewCats();
---

<PageSection class="max-w-400 m-auto">
  <div id="hero" class="relative flex content-between gap-4 w-full">
    <div
      id="hero-image"
      class="hidden sm:block absolute -top-8 left-0 sm:left-20 max-w-full h-[120%] w-auto pointer-events-none"
    >
      <div
        class="absolute top-0.5 left-0.5 right-0.5 h-1/2 w-[full] bg-linear-to-b from-white to-transparent rounded-lg"
      >
      </div>
      <Image
        data-og="image"
        src={HeroImage}
        width={1000}
        alt="3 gatinhos olhando para a câmera"
        class="h-full w-auto rounded-xl border-2 border-black object-cover"
      />
      <Image
        src={HeroCutImage}
        width={1000}
        alt=""
        class="absolute inset-0 h-full w-auto rounded-xl z-30 border-2 border-transparent object-cover"
      />
    </div>
    <div
      class="flex flex-col gap-8 items-center sm:items-start w-full text-center sm:text-start z-20"
    >
      <h1
        data-og="title"
        class="text-7xl sm:text-8xl xl:text-9xl max-w-280 xl:max-w-280 text-shadow-[3px_3px_0_var(--color-pink)] uppercase"
      >
        Eles merecem uma chance de te fazer feliz
      </h1>
      <ButtonLink href="/adotar" variant="cta">Adote</ButtonLink>
    </div>
    {newCats?.length > 0 && 
      <div id="new-cats" class="hidden lg:flex flex-col items-center gap-6 z-20">
        {newCats.map((cat, i) => (
          <CatCard class={twMerge(
            "motion-preset-slide-down", 
            i === 0 && "motion-delay-700", 
            i === 1 && "motion-delay-1000",
            i === 2 && "motion-delay-[1300ms]")} 
            variant="small" 
            cat={cat} 
            disableViewTransition
            client:only="solid-js" />
          ))}
        <ButtonLink href="/adotar" variant="nav" class="motion-preset-slide-down motion-delay-[1500ms]">Ver mais</ButtonLink>
      </div>}
  </div>
</PageSection>

<!-- hide element at first render to avoid FOUC -->
<!-- TODO refactor so this is not needed -->
<script is:inline>
  if (!window.newCatsAnimated) {
    const newCatsElement = document.getElementById("new-cats");
    if (newCatsElement) {
      newCatsElement.classList.add("hidden!");
      document.addEventListener("astro:page-load", function () {
        newCatsElement.classList.remove("hidden!");
      });
      window.newCatsAnimated = true;
    }
  }
</script>

<script>
  import { animate, scroll } from "motion";

  scroll(animate("#hero-image", { top: ["-2rem", "-60rem"] }));
</script>
