---
import { ButtonLink } from "../../Button";

type Props = {};

const {} = Astro.props;
---
<section class="px-20 py-10">
    <div class="flex flex-col gap-8 items-start">
        <h1 class="text-9xl max-w-4xl">Eles merecem uma chance de te fazer feliz</h1>
        <ButtonLink href="/adote" variant={"cta"}>Adote</ButtonLink>
    </div>
</section>