---
import { getNewCats } from "../../../api/cats";
import { ButtonLink } from "../../Button";
import { CatCard } from "../../CatCard";
import PageSection from "../../PageSection.astro";
import HeroImage from "../../../assets/Outras/hero.jpeg";
import HeroCutImage from "../../../assets/Outras/hero_cut.png";
import { Image } from 'astro:assets'

const newCats = await getNewCats();
---
<PageSection class="max-w-[100rem] m-auto">
    <div id="hero" class="relative flex content-between gap-4 w-full">
        <div id="hero-image" class="hidden sm:block absolute -top-8 left-0 sm:left-20 max-w-full h-[120%] w-auto pointer-events-none">
            <div class="absolute top-0.5 left-0.5 right-0.5 h-1/2 w-[full] bg-gradient-to-b from-white to-transparent rounded-lg" />
            <Image src={HeroImage} width={1000} alt="3 gatinhos olhando para a câmera" class="h-full w-auto rounded-xl border-2 border-black object-cover" />
            <Image src={HeroCutImage} width={1000} alt="" class="absolute inset-0 h-full w-auto rounded-xl z-30 border-2 border-transparent object-cover" />
        </div>
        <div class="flex flex-col gap-8 items-center sm:items-start w-full text-center sm:text-start z-20">
            <h1 class="text-7xl sm:text-8xl xl:text-9xl max-w-[40rem] xl:max-w-[55rem] text-shadow-pink">Eles merecem uma chance de te fazer feliz</h1>
            <ButtonLink href="/gatos" variant="cta">Adote</ButtonLink>
        </div>
        <div id='new-cats' class="hidden lg:flex flex-col items-center gap-6 z-20">
            {newCats.map(cat => <CatCard variant="small" cat={cat} />)}
            <ButtonLink href="/gatos" variant="nav">Ver mais</ButtonLink>
        </div>
    </div>
</PageSection>

<!-- hide element at first render to avoid FOUC -->
<!-- TODO refactor so this is not needed -->
<script is:inline>
    if(!window.newCatsAnimated) {
        document.getElementById('new-cats').classList.add('!hidden');
        document.addEventListener('astro:page-load', function() {
            document.getElementById('new-cats').classList.remove('!hidden');
        });
        window.newCatsAnimated = true;
    }
</script>

<script>
    import { animate, stagger, scroll } from 'motion';

    animate('#new-cats > *', 
        { opacity: ['0', '1'], transform: ['rotate(-3deg) translateY(-12px)', ' rotate(1deg) translateY(0)', '']}, 
        { delay: stagger(0.3, { from: -5 }) }
    );
    scroll(
        animate("#hero-image", { top: ['-2rem', '-60rem'] })
    )
</script>