---
import { Highlight } from '../../Highlight';
import PageSection from '../../PageSection.astro';

type Props = {};

const {} = Astro.props;
---
<PageSection>
    <h2 class="text-4xl sm:text-5xl w-100 text-center">O Salve um Gatinho atua em <Highlight>Santa Cruz do Sul, RS</Highlight></h2>
</PageSection>