---
import { Highlight } from '../../Highlight';

type Props = {};

const {} = Astro.props;
---
<section class="p-section">
    <h2 class="text-5xl w-100 text-center">O Salve um Gatinho atua em <Highlight>Santa Cruz do Sul, RS</Highlight></h2>
</section>