---
import PageSection from '../../layout/PageSection.astro';
import { Highlight } from '../../ui/Highlight.solid';
---
<PageSection class={Astro.props.class}>
    <h2 class="text-4xl sm:text-5xl text-center">O Salve um Gatinho atua em <Highlight>Santa Cruz do Sul, RS</Highlight></h2>
</PageSection>