---
type Props = {};

const {} = Astro.props;

// TODO get data from database
const partners = [
	{ name: "", image: "" },
	{ name: "", image: "" },
	{ name: "", image: "" },
	{ name: "", image: "" },
	{ name: "", image: "" },
	{ name: "", image: "" },
	{ name: "", image: "" },
	{ name: "", image: "" },
	{ name: "", image: "" },
	{ name: "", image: "" },
];
---
<section class="p-section">
    <div class="flex flex-col gap-12 items-center">
        <!-- FIXME think of better header -->
        <h1 class="text-3xl font-body font-medium">Parceiros</h1>
        <div class="flex gap-12 flex-wrap justify-center">
            {partners.map((partner) => (
                <div class="bg-gray-200 w-full sm:w-44 h-20 rounded-xl"/>
            ))}
        </div>
    </div>
</section>