---
import { Image } from "astro:assets";
import CommunityImage from "../../../assets/Outras/story/community.webp";
import RescueImage from "../../../assets/Outras/story/rescue.webp";
import TreatmentImage from "../../../assets/Outras/story/treatment.webp";
import PageSection from "../../layout/PageSection.astro";
import { ButtonLink } from "../../ui/Button.solid";
import { Highlight } from "../../ui/Highlight.solid";
---

<PageSection>
  <div class="flex flex-col gap-12 items-center max-w-5xl m-auto">
    <div
      class="flex flex-col md:flex-row gap-8 md:gap-16 w-full md:items-center intersect:motion-preset-slide-up intersect-once"
    >
      <div
        class="flex-1 max-h-40 rounded-xl flex items-end justify-center overflow-hidden border-black border-2"
      >
        <Image
          src={RescueImage}
          alt="Gato resgatado"
          class="object-cover w-full h-auto"
        />
      </div>
      <p class="flex-1">
        Somos um grupo de voluntários que atuam no resgate de gatos de rua em situação
        de maus tratos e vulnerabilidade
      </p>
    </div>
    <div
      class="flex flex-col md:flex-row-reverse gap-8 md:gap-16 w-full md:items-center intersect:motion-preset-slide-up intersect-once"
    >
      <div
        class="flex-1 w-full max-h-40 rounded-xl flex items-center justify-center overflow-hidden border-black border-2"
      >
        <Image
          src={TreatmentImage}
          alt="Gato recebendo mamadeira"
          class="object-cover w-full h-auto"
        />
      </div>
      <p class="flex-1">
        Após estarem saudáveis e socializados, encaminhamos para <Highlight bold
          >adoção responsável</Highlight>
      </p>
    </div>
    <div
      class="flex flex-col md:flex-row gap-8 md:gap-16 w-full md:items-center intersect:motion-preset-slide-up intersect-once"
    >
      <div
        class="flex-1 max-h-40 rounded-xl flex items-end justify-center overflow-hidden border-black border-2"
      >
        <Image
          src={CommunityImage}
          alt="Gatos em gaiolinhas"
          class="object-cover w-full h-auto"
        />
      </div>
      <p class="flex-1">
        Contamos com o auxílio da comunidade para manter o abrigo e o tratamento
        dos animais
      </p>
    </div>
    <ButtonLink href="/sobre" variant="nav">Saiba mais</ButtonLink>
  </div>
</PageSection>
