---
import { ButtonLink } from "../../Button";
import { Highlight } from "../../Highlight";
import PageSection from "../../PageSection.astro";

type Props = {};

const {} = Astro.props;
---
<PageSection>
    <div class="flex flex-col gap-12 items-center max-w-5xl m-auto">
        <div class="flex flex-col md:flex-row gap-8 md:gap-16 w-full md:items-center">
            <div class="flex-1 min-h-40 rounded-xl bg-gray-200"></div>
            <p class="flex-1">Somos um grupo de voluntários que atuam no resgate de gatos em situação de maus tratos e vulnerabilidade</p>
        </div>
        <div class="flex flex-col md:flex-row-reverse gap-8 md:gap-16 w-full md:items-center">
            <div class="flex-1 w-full min-h-40 rounded-xl bg-gray-200"></div>
            <p class="flex-1">Após estarem saudáveis e socializados, encaminhamos para <Highlight bold>adoção responsável</Highlight></p>
        </div>
        <div class="flex flex-col md:flex-row gap-8 md:gap-16 w-full md:items-center">
            <div class="flex-1 min-h-40 rounded-xl bg-gray-200"></div>
            <p class="flex-1">Contamos com o auxílio da comunidade para manter o abrigo e o tratamento dos animais</p>
        </div>
        <ButtonLink href="/sobre" variant="nav">Saiba mais</ButtonLink>
    </div>
</section>