---
import PageSection from '../../PageSection.astro';
import GuriasImage from '../../../assets/gurias.png';
import { Image } from 'astro:assets';

type Props = {};

const {} = Astro.props;
---
<PageSection title='Equipe'>
    <div class="flex items-center justify-center w-full bg-black max-w-5xl m-auto border-2 border-black rounded-xl relative">
        <div class="w-full h-full rounded-xl overflow-hidden">
            <Image src={GuriasImage} alt="Equipe" class="object-cover w-full">
        </div>
    </div>
</PageSection>