---
import { getAllTestimonies } from "../../../api/testimonies";
import { TestimoniesCarousel } from "../../interactive/TestimoniesCarousel";
import PageSection from "../../layout/PageSection.astro";

const allTestimonies = await getAllTestimonies();
---

<PageSection>
    <div class="w-full max-w-3xl m-auto">
        <TestimoniesCarousel testimonies={allTestimonies} client:visible />
    </div>
</PageSection>