---
import { getAllTestimonies } from "../../../api/testimonies";
import PageSection from "../../PageSection.astro";
import { TestimoniesCarousel } from "../../TestimoniesCarousel";

const allTestimonies = await getAllTestimonies();
---

<PageSection>
    <div class="w-full max-w-3xl m-auto">
        <TestimoniesCarousel testimonies={allTestimonies} client:visible />
    </div>
</PageSection>