---
import { twMerge } from "tailwind-merge";
---
<div class={twMerge("absolute top-0 left-0 w-full overflow-hidden leading-[0]", Astro.props.class)}>
    <svg class="relative block w-full h-14" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
        <path d="M1200 120L0 16.48 0 0 1200 0 1200 120z" class="fill-page-background"></path>
    </svg>
</div>