@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "tailwindcss-motion";
@plugin "tailwindcss-intersect";

@theme {
  --font-display: "Caprasimo", serif;
  --font-body: "Barlow", sans-serif;
  --font-handwritten: "Gaegu", sans-serif;

  --color-dark: #1a1919;
  --color-light: #fffffe;
  --color-primary: #b36b31;
  --color-secondary: #4d4f4e;

  --color-pink: #f1d1d7;
  --color-yellow: #fcecc4;
  --color-blue: #c6e5e1;
  --color-green: #bbddc2;

  --color-page-background: #fefdfc;

  --spacing-header: 80px;
  --spacing-footer: 320px;

  --animate-no: no 0.5s ease;

  @keyframes no {
    0% {
      transform: rotate(0);
    }
    33% {
      transform: rotate(-1deg);
    }
    66% {
      transform: rotate(1deg);
    }
    100% {
      transform: rotate(0);
    }
  }
}

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  button,
  a {
    font-family: var(--font-display);
  }
  p,
  span {
    font-size: var(--font-size-xl);
  }
}

@layer components {
  .polaroid {
    border: 1px solid black;
    box-shadow: var(--shadow-lg);
    padding: 1rem 1rem 4rem 1rem;
    border-radius: var(--radius-lg);
  }

  .bg-pattern-boxes-blue {
    background-image: linear-gradient(var(--color-blue) 1px, transparent 1px),
      linear-gradient(to right, var(--color-blue) 1px, transparent 1px);
    background-size: 20px 20px;
  }
}

@utility no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
