---
import { ViewTransitions } from "astro:transitions";
import '../global.css'
import "@fontsource-variable/outfit";
import "@fontsource/staatliches";
import '@phosphor-icons/web/duotone'
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";

interface Props {
	title?: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Grupo de voluntários da causa animal de Santa Cruz do Sul - RS" />
		<meta name="viewport" content="width=device-width" />
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
		<link rel="manifest" href="/site.webmanifest">
		<meta name="generator" content={Astro.generator} />
		<title>Salve {title ? `- ${title}` : 'um Gatinho'}</title>
		<ViewTransitions />
	</head>
	<body class="font-body bg-page-background">
		<Header />
		<main class="min-h-[calc(100vh-theme('height.header')-theme('height.footer'))] overflow-x-hidden">
			<slot />
		</main>
		<Footer />
	</body>
</html>
