---
import { twMerge } from "tailwind-merge";
---
<div class={twMerge("absolute text-yellow", Astro.props.class)}>
    <svg width="125" height="126" viewBox="0 0 125 126" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M0 63.0203C0 97.4788 28.0899 125.432 62.5 125.432C96.9101 125.432 125 97.4788 125 63.0203C125 28.386 96.9101 0.432373 62.5 0.432373C28.0899 0.432373 0 28.386 0 63.0203Z" fill="currentColor"/>
    </svg>    
</div>