---
import { twMerge } from "tailwind-merge";
---
<div class={twMerge("absolute text-pink", Astro.props.class)}>
    <svg width="167" height="137" viewBox="0 0 167 137" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M132.931 59.5179C132.931 68.7213 140.389 76.0016 149.642 76.0016C158.895 76.0016 166.214 68.584 166.214 59.3805C166.214 50.1771 158.757 35.7538 149.504 35.8912C140.251 35.8912 132.931 50.3145 132.931 59.5179Z" fill="currentColor"/>
        <path d="M33.4971 59.7926C33.4971 50.5892 26.0396 36.3033 16.7866 36.3033C7.53373 36.3033 0.214264 50.7266 0.214264 59.93C0.214264 69.1334 7.67184 76.5511 16.9247 76.4138C26.1777 76.4138 33.6352 68.9961 33.4971 59.7926Z" fill="currentColor"/>
        <path d="M108.901 48.1166C119.673 48.1166 128.512 39.3252 128.512 28.4734C128.374 17.759 119.535 0.725769 108.763 0.725769C97.8531 0.863134 89.1526 17.8964 89.1526 28.6108C89.2908 39.4626 97.9912 48.1166 108.901 48.1166Z" fill="currentColor"/>
        <path d="M76.9996 28.6109C76.9996 17.8964 68.161 0.863217 57.2508 1.00058C46.4788 1.00058 37.7783 18.0338 37.7783 28.7482C37.7783 39.6 46.6169 48.254 57.527 48.254C68.2991 48.254 77.1377 39.4627 76.9996 28.6109Z" fill="currentColor"/>
        <path d="M137.213 107.595C137.627 101.826 136.522 96.3316 134.174 91.6612C134.174 91.6612 130.169 77.3753 92.3291 58.1442C90.7639 57.32 89.1067 56.4958 87.3574 55.6717C84.7334 54.4354 81.6952 54.4354 79.0712 55.6717C77.3219 56.4958 75.6647 57.32 74.0995 58.1442C36.3973 77.65 32.3923 91.9359 32.3923 91.9359C30.1827 96.7437 29.0779 102.101 29.6303 107.87C30.8732 123.255 43.5787 135.618 59.1844 136.442C67.8849 136.992 75.8948 133.969 81.8333 128.612C82.8 127.925 84.181 127.925 85.0097 128.612C91.0862 133.832 99.0962 136.854 107.797 136.305C123.402 135.343 135.97 122.98 137.213 107.595Z" fill="currentColor"/>
    </svg>
</div>