---
import { twMerge } from "tailwind-merge";
---
<div class={twMerge("absolute text-blue", Astro.props.class)}>
    <svg width="159" height="140" viewBox="0 0 159 140" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M0.922974 139.705H158.389L79.6561 0.408386L0.922974 139.705Z" fill="currentColor"/>
    </svg>
</div>